{% extends "base.html" %}
{% block content_title %}
     <div class="content_title"> <h1><span class="label label-success">Publications' list</span></h1></div><hr>

{% endblock %}
{% block content %}

{% for paper in publications %}
    <div class="panel panel-success" >
        <div class="panel-heading">
            <a href="#" class="panel-title">{{ paper.title }}</a>
        </div>
        <div class="panel-footer">{{ paper.list_of_authors }}</div>
        <div class="panel-body">{{ paper.newspaper }}</div>

        </div>
{% endfor %}
{% endblock %}