{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
<h6> To reset your password, enter the email address you use to sign in.</h6>
<form action="" method="post" role="form" class="form-horizontal">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    {% buttons %}
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-success">
            Reset password
          </button>
        </div>
    {% endbuttons %}

</form>
{% endblock %}
